body {
  background-color: antiquewhite;
}

h1,p {
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-style: italic;
  color: blueviolet;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

p {
  font-size: 2rem;
  font-style: oblique;
  color: brown;
}

.image {
  margin-top: 2vh;
  width: 100%;
  display: grid;
  place-items: center;
}

img {
  transition: all ease-in-out 5s;
  transform: rotate(360deg);
  transition-delay: 3s;
}